/* Mode Selector Styling */
.mode-selector { display: flex; border-radius: 5px; overflow: hidden; border: 1px solid var(--primary-color); }
.mode-selector label { width: 100%; padding: 0; }
.mode-selector span { display: block; cursor: pointer; padding: 0.7rem 1.5rem; transition: all 0.5s ease; height: 100%; align-content: center; text-align: center; }
.mode-selector input[type="radio"] { display: none; }
.mode-selector input[type="radio"]:checked+span { color: var(--text-color); background-color: var(--primary-color); }
.mode-selector input[type="radio"]:hover+span { background-color: #7bbbff; }
.mode-content { animation: fadeIn 0.5s ease-in-out; gap: 12px; }

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.input-group{ flex: 1; }
.input-group label { display: block; font-weight: bold; }

input[type="date"] {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);
}

.result-box {
  display: none;
  padding: 1.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

#result-message {
  color: var(--primary-color);
  font-weight: bold;
}

.age-details {
  font-size: 1.2rem;
  font-weight: bold;
}

.age-value {
  color: #007BFF;
  font-size: 1.5rem;
}
